<div class="container">
  @if (loading()) {
    <ngx-spinner
      bdColor="rgba(0, 0, 0, 0.8)"
      size="large"
      color="#ff0050"
      type="ball-spin"
    >
      <p style="color: #ff0050">Loading</p>
    </ngx-spinner>
  }
  <div class="form-container">
    <h2>Sign up for TikTok</h2>

    <form [formGroup]="signupForm" (ngSubmit)="onRegisterSubmit()" class="form-group">
      <div formGroupName="additional_properties" class="additional_properties">
        <div class="input-control">
          <label for="phone_number">Phone</label>
          <input type="tel" id="phone_number" formControlName="phone_number" required placeholder="Phone number">
          <div class="error"
               *ngIf="getControl('additional_properties.phone_number')?.invalid &&
                      (getControl('additional_properties.phone_number')?.touched ||
                       getControl('additional_properties.phone_number')?.dirty)"
          >
            <p *ngIf="getControl('additional_properties.phone_number')?.errors?.['required']">
              Phone number is required
            </p>
            <p *ngIf="getControl('additional_properties.phone_number')?.errors?.['invalidLength']">
              {{ getControl('additional_properties.phone_number')?.errors?.['invalidLength'] }}
            </p>
            <p *ngIf="getControl('additional_properties.phone_number')?.errors?.['invalidPrefix']">
              {{ getControl('additional_properties.phone_number')?.errors?.['invalidPrefix'] }}
            </p>
          </div>
        </div>
        <div class="input-control">
          <label for="date_of_birth">Date of Birth</label>
          <input type="date" id="date_of_birth" formControlName="date_of_birth" required>
          <div class="error"
               *ngIf="getControl('additional_properties.date_of_birth')?.invalid &&
                      (getControl('additional_properties.date_of_birth')?.touched ||
                       getControl('additional_properties.date_of_birth')?.dirty)">
            <p *ngIf="getControl('additional_properties.date_of_birth')?.errors?.['required']">
              Dob is required
            </p>
          </div>
        </div>
      </div>
      <div class="input-control">
        <label for="first_name">First Name</label>
        <input type="text" id="first_name" formControlName="first_name" required placeholder="First name">
        <div class="error"
             *ngIf="getControl('first_name')?.invalid &&
                      (getControl('first_name')?.touched ||
                       getControl('first_name')?.dirty)">
          <p *ngIf="getControl('first_name')?.errors?.['required']">
            First name is required
          </p>
          <p *ngIf="getControl('first_name')?.errors?.['invalidName']">
            must contain only alphabets
          </p>
        </div>
      </div>
      <div class="input-control">
        <label for="last_name">Last Name</label>
        <input type="text" id="last_name" formControlName="last_name" required placeholder="Last name">
        <div class="error"
             *ngIf="getControl('last_name')?.invalid &&
                      (getControl('last_name')?.touched ||
                       getControl('last_name')?.dirty)">
          <p *ngIf="getControl('last_name')?.errors?.['required']">
            Last name is required
          </p>
          <p *ngIf="getControl('last_name')?.errors?.['invalidName']">
            must contain only alphabets
          </p>
        </div>
      </div>
      <div class="input-control">
        <label for="email">Email</label>
        <input type="email" id="email" formControlName="email" required placeholder="Email address">
        <div class="error"
             *ngIf="getControl('email')?.invalid &&
                      (getControl('email')?.touched ||
                       getControl('email')?.dirty)">
          <p *ngIf="getControl('email')?.errors?.['required']">
            Email is required
          </p>
          <p *ngIf="getControl('email')?.errors?.['invalidDomain']">
            Email domain is not allowed
          </p>
          <p *ngIf="getControl('email')?.errors?.['invalidEmail']">
            Invalid email format
          </p>
        </div>
      </div>
      <div class="input-control">
        <label for="password">Password</label>
        <input
          [type]="showPassword ? 'text' : 'password'"
          id="password" formControlName="password" required placeholder="Password">
        <div class="eye-icon" (click)="toggleShowPassword()">
          <img src="{{showPassword ? 'eye-open.svg' : 'eye-close.svg'}}" alt="eye-icon">
        </div>
        <div class="error"
             *ngIf="getControl('password')?.invalid &&
                      (getControl('password')?.touched ||
                       getControl('password')?.dirty)">
          <p *ngIf="getControl('password')?.errors?.['required']">
            Password is required
          </p>
          <p *ngIf="getControl('password')?.errors?.['invalidPassword']">
            Password is not strong enough
          </p>
        </div>
      </div>
      <button type="submit" [disabled]="signupForm.invalid">Sign up</button>
      <p class="terms">
        By continuing with an account located in Ghana, you agree
        to our <strong>Terms of Service</strong> and acknowledge that
        you have read our <strong>Privacy Policy.</strong>
      </p>
    </form>
    <p class="account">
      Already have an account?
      <span routerLink="">Login</span>
    </p>
  </div>
</div>
