<div class="sidebar-container">
  <div
    class="row"
    routerLink="/trending"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{exact: true}"
  >
    <img src="dashboard.svg" alt="dashboard-icon">
    <h4>For You</h4>
  </div>
  <div
    class="row"
    routerLink="/trending/explore"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{exact: true}"
  >
    <img src="upload-icon.svg" alt="upload-icon">
    <h4>Explore</h4>
  </div>
  <div
    class="row"
    routerLink="/trending/following"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{exact: true}"
  >
    <img src="user.svg" alt="user-icon">
    <h4>Following</h4>
  </div>
  <div
    class="row"
    routerLink="/trending/friends"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{exact: true}"
  >
    <img src="users.svg" alt="users-icon">
    <h4>Friends</h4>
  </div>
  <div
    class="row"
    routerLink="/trending/profile"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{exact: true}"
  >
    <img src="avatar.svg" alt="avatar-icon">
    <h4>Profile</h4>
  </div>
  <div class="following">
    <h4>Following accounts</h4>
    <div class="row">
      <img src="avatar.svg" alt="avatar-icon">
      <span>
        <h3>karolina.pro.violin69</h3>
        <h5>Karolina Protsenko Violin</h5>
    </span>
    </div>
  </div>
</div>
